nav{
    background-color: rgba(128, 128, 128, 0.504);
    color: white;
}
#left
{
    margin: 0px;
    display: flex;
    list-style: none;
    position: absolute;
}
li{
    padding: 15px;
    padding-right: 45px;
    text-align: center;
}
#right
{
    margin: 0px;
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: row-reverse;
}
.containers{
    display: flex;
}
.c1{
    width: 80%;
    text-align: center;
}
.c2{
    width: 20%;
    text-align: center;
    background-color: hwb(0 50% 50% / 0.848);
    height: 100vh;
}