body{
    background-color: rgba(128, 128, 128, 0.415);
  }
    .container{
        width: 74.4%;
        margin: auto;
        background-color: orange;
    }
    .info{
        display: flex;
    }
    .builderz{
        margin-left: 86px;
    }
    #b1{
        margin-right: 157px;
    }
    nav{
        background-color: black;
        color: white;
        width: 90%;
        margin: auto;
        display: flex;
    }
   .navbar-custom{
    background-color: black;
    color: white;
   }
   .navbar-custom a{
    color: white;
   }
   .navbar-custom a:hover{
    color: rgb(213, 137, 23);
   }
   .im{
    margin-left: 195px;
   }
   img
   {
    height: 91vh;
   }
   #home{
    text-align: center;
   }
   img{
    position: absolute;
    z-index: -1;
    left: 196px;
    opacity: 0.8;
    height: 91vh;
   }
   .foot{
    display: flex;
    justify-content: center;

   }
   .foot div{
    height: 137px;
    width: 376px;
   }
  .b1{
    background-color: black;
    color: orange;
    text-align:start;
  }
  .b2{
    background-color: orange;
    color: black;
  }
  .b3{
    background-color: black;
    color: orange;
  }
  .fa-custom{
    margin-top: 65px;
    margin-left: 25px;
    position: absolute;
  }
  